:root {
  --color-white: white;
  --color-black: black;
  --color-dark: #111111;
  --border-radius-small: 3px;
  --spacing-med: 20px;
  --font-family-main: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark);
  font-family: var(--font-family-main);
}